/* Google Fonts Improted */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* Universal CSS */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* Main Header Section CSS */

main{
    width: 100%;
    background-color: #2D25A0;
}

.header-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-content{
    width: 50%;
    margin-left:10% ;
}

.left-part h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    transition: all 0.5s;
}

.left-part h1:hover{
    transform: scale(1.1);
}

.header-btn{
    width: 168px;
    height: 44px;
    background-color:  #E02C6D;
    position: relative;
    border-radius: 5px;
    transition: all 0.5s;
}

.header-btn a{
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    top: 25%;
    left: 19%;
    text-decoration: none;   
}

.header-btn a>i{
    margin-left: 8px;
}

.header-btn:hover{
    transform: scale(1.1);    
}

.header-content img{
    width: 556.01px;
    height: 438px;
    margin-top: 135px;
    margin-bottom: 86px;
    transition: all 0.5s;
}

.header-content img:hover{
    transform: scale(1.1);
}

/* Gallery Section Css Start */
.gallery{
    width: 100%;
}

.container{
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.players-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    margin-bottom: 27px;
    border-radius: 5px;
}

.player-image img{
    padding-top: 15px;
    width: 300px;
    height: 256px;
}

.about-player{
    width: 300px;
    height: 169px;
    overflow: hidden;
}

.about-player h1{
    color: #18191F;
    font-size: 28px;
}

.about-player p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 300;
}
/* Gallery Section Css End */

/* Footer Section Css Start */

footer{
    width: 100%;
}

.footer-content{
    width: 485px;
    height: 213px;
    margin: auto;
}
.footer-image img{
    width: 480px;
    height: 110px;
    margin: 20px auto;
}

.social-icons{
    width: 170px;
    height: 32px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 14px;
    margin: auto;
}

.social-icons a{
    width: 32px;
    text-decoration: none;
    background-color: #e7e7e8;
    border-radius: 50%;
}

.social-icons a>i{
    padding: 7.47px 7.47px;
    color: #969bab;
}


footer p{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 63px;
}

/* Footer Section Css End */

/* Media Qurey Css */

@media only screen and (max-width:688px) {
    body{
        width: 360px;
    }

    .top-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .top-data{
        width: 100%;
    }

    .top-data h1{
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
        margin-left: 16px;
        margin-top: 112px;
    }

    .top-data a{
        width: 168px;
        height: 44px;
        margin-top: 151px;
        margin-left: 19px;
    }

    .top-data img{
        width: 329px;
        height: 259.17px;
        margin-left: 15px;
    }

    /* Gallery Section Media Qurey */

    
    .gallery{
        width: 360px;
    }
    .container{
        width: 91%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .players-info{
        margin-right: 16px;
    }

    /* Footter Section Media Qurey */
    
    .footer-content{
        width: 280px;
        height: 75px;
    }
    .footer-content img{
        width: 271px;
        height: 63px;
    }

}


/* Reponsive Design */

@media only screen and (max-width:688px) {

    
    main{
        width: 100%;
        height: 656px;
    }

    .header-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-content{
        width: 90%;
        margin: 0;
    }

    .left-part h1{
        width: 100%;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
        margin-top: 112px;
    }

    .header-content img{
        width: 100%;
        height: 259.17px;
        margin-top: 50px;
        margin-bottom: 22px;
    }
    
}